/* css dosyası*/
/* boşlukları sıfırla*/
*{
    margin:0px;
    padding:0px;
}

body{
    background-color: red;
    background-image: url("resimler/ypy2.jpg");
}

#sayfa{
    width: 900px;
    min-height: 1100px;
    border-style: solid;
    border-width: 1px;
    margin: auto;

}
/*banner logo */
#banner{
     width: 900px;
    min-height: 100px;
    border-style: dotted;
    border-width: 1px;
    background-color: blue;
    margin: auto;

}
#logo{
    width: 100px;
    min-height: 80px;
    border-style: none;
    border-width: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}
#sosyal{
    width: 100px;
    height: 80px;
    border-style: none;
    border-width: 1px;
    background-color: aliceblue;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    
}
#ikon{
    float: right;
    margin-right: 10px;
}
#anamenü{
    width: 900px;
    min-height: 180px;
    border-style: dotted;
    border-width: 1px;
    background-color: yellow;
    margin: auto;
}
#anamenü ul{
    list-style-type: none;

}
#anamenü ul li {
    width: 896px;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    border-color: blue;
    background-color: white;
    float: left;
    padding: 7px;
    margin-left: 1px;
    position: relative;
    top: 10px;
    text-align: center;
}
#anamenü ul a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;

}
#anamenü ul a:link{
    color: blue;

}
#anamenü ul a:visited{
    color: brown;

}
#anamenü ul a:hover{
    color: aquamarine;
    text-decoration: underline;
}
#anamenü ul a:active{
    color:red;
}
/* içer,ik ve yan menükodları*/
#içerik{
     width: 500px;
    min-height: 600px;
    border-style: dotted;
    border-width: 1px;
    background-color: red;
    float: left;

}
#yanmenü{
     width: 396px;
    min-height: 600px;
    border-style: dotted;
    border-width: 1px;
    background-color: blue;
   float: left;

}
.resim{
    float: left;
    width: 300px;
    margin: 5px;
}
.metin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17;
    color: black;
}
.baslık{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    font-weight: bolder;
}
/*alt menü*/
#altmenü{
    width: 896px;
    height: 50px;
    border-style: dotted;
    border-width: 1px;
    background-color: aqua;
    margin-left: 1px;
    margin-top:30px;
    float: right;
    text-align: center;
}
#altmenü a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:bolder;
    color: blue;
   
}
 #altmenü a:hover{
        color: green;
        text-align: underline;
        
    }
    .kucukmetin{
        font-size: 10px;
        
    }
